
  .Products {

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    
  }
  .prod1{
    background-color: antiquewhite;
    
  }
  .prod1 img{
    width: 400px;
    height:450px;
  }